body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  background: #333;
  padding: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HOME */
.home {
  text-align: center;
  margin-top: 80px;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 20px;
}

/* FORM */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  padding: 10px;
}

/* BOTÕES */
.btn {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn-primary { background: blue; color: white; }
.btn-secondary { background: gray; color: white; }

/* GRUPO */
.grupo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.linha {
  display: flex;
  gap: 30px;
}

.membro {
  text-align: center;
}

.membro img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 0;   /* quadrado */
  border: none;       /* sem borda */
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
  }

  .linha {
    flex-direction: column;
  }
}